name: Check deno updates

on:
  workflow_dispatch:
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * 0,2,4"

permissions: {}

jobs:
  check-updates:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.REDIST_ICONS_UPDATE }}
          fetch-depth: 0
          persist-credentials: true # needed for git push

      - run: rustup update --no-self-update

      - name: Setup nushell
        uses: hustcer/setup-nu@920172d92eb04671776f3ba69d605d3b09351c30 # v3.22
        with:
          version: ${{ vars.NU_SHELL_VERSION || '*' }}

      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          cache: true
      - name: Install Deno deps
        run: deno install

      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - name: Install Python deps
        run: uv sync

      - name: Cache pre-commit environments
        uses: actions/cache@v5
        with:
          path: "~/.cache/pre-commit"
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Check for updates
        run: nu .github/workflows/check-deno-updates.nu
        env:
          GITHUB_TOKEN: ${{ secrets.REDIST_ICONS_UPDATE }}
