name: Pre-commit hooks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  pre-commit:
    name: pre-commit hooks and mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      - run: uv sync
      - name: Cache pre-commit environments
        uses: actions/cache@v4
        with:
          path: "~/.cache/pre-commit"
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - run: uv run --no-sync pre-commit run --all-files
      - run: uv run --no-sync mypy

  deno-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          cache: true
      - run: deno fmt --check

  conventional-commit:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: rustup update --no-self-update
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@3fc81674af4165a753833a94cae9f91d8849049f # v1.16.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Install committed
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: cargo binstall -y committed
      - name: Get PR title
        id: get-title
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |-
          pr_title=$(gh pr view "${PR_NUMBER}" --repo "${GH_REPO}" --json "title" -q ".title")
          echo "title=${pr_title}" >> "${GITHUB_OUTPUT}"
      - name: Check PR title
        env:
          PR_TITLE: ${{ steps.get-title.outputs.title }}
        run: >-
          echo "${PR_TITLE}"
          | committed --config .config/committed.toml --commit-file -

  lint-ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      - name: Run zizmor
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: uvx zizmor --format github .github/workflows/
