name: Rust

on:
  push:
    branches: [main]
    tags:
      - "mdi/v*"
      - "octicons/v*"
      - "fontawesome/v*"
      - "simple-icons/v*"
    paths:
      - crates/**
      - .github/workflows/rust.yml
      - "!crates/*/deno.json"
      - "!crates/*/main.ts"
      - "!crates/*/pyproject.toml"
      - Cargo.toml
  pull_request:
    branches: [main]
    paths:
      - crates/**
      - .github/workflows/rust.yml
      - "!crates/*/deno.json"
      - "!crates/*/main.ts"
      - "!crates/*/pyproject.toml"
      - Cargo.toml

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Cache cargo artifacts
        uses: actions/cache@v4 # zizmor: ignore[cache-poisoning]
        with:
          path: "~/.cargo"
          key: cargo-lint-${{ hashFiles('Cargo.lock') }}
      - run: cargo clippy
      - run: cargo fmt --check

  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: rustup update --no-self-update
      - name: Cache cargo artifacts
        uses: actions/cache@v4 # zizmor: ignore[cache-poisoning]
        with:
          path: "~/.cargo"
          key: cargo-doc-${{ hashFiles('Cargo.lock') }}
      - run: cargo doc --no-deps --lib
      - name: Upload docs as artifact
        uses: actions/upload-artifact@v5
        with:
          path: target/doc
          name: rust-docs

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: rustup update --no-self-update
      - name: Cache cargo artifacts
        uses: actions/cache@v4 # zizmor: ignore[cache-poisoning]
        with:
          path: "~/.cargo"
          key: cargo-test-${{ hashFiles('Cargo.lock') }}
      - run: cargo test

  release:
    needs: [lint, doc, test]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    environment: release
    strategy:
      matrix:
        pkg: ["mdi", "octicons", "fontawesome", "simple-icons"]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: rustup update --no-self-update
      - name: Setup nushell
        uses: hustcer/setup-nu@3a97c8160c2bb5af321a03336e7addc28f94444e # v3.21
        with:
          version: ${{ vars.NU_SHELL_VERSION || '*' }}
      - name: Get package name
        id: translate
        shell: nu {0}
        run: |-
          let name = (
            open "${{ github.workspace }}/crates/${{ matrix.pkg }}/Cargo.toml"
            | get package
            | get name
          )
          $"pkg=($name)\n" | save --append $env.GITHUB_OUTPUT
      - name: Establish provenance
        uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        if: startsWith(github.ref, 'refs/tags/') && startsWith(github.ref_name, matrix.pkg)
        id: auth
      - name: Publish crate ${{ steps.translate.outputs.pkg }}
        if: startsWith(github.ref, 'refs/tags/') && startsWith(github.ref_name, matrix.pkg)
        env:
          PKG_NAME: ${{ steps.translate.outputs.pkg }}
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: cargo publish -p $PKG_NAME

  check-dist:
    name: Check package dist
    if: ${{ !startsWith(github.ref, 'refs/tags/') }}
    needs: [lint, doc, test]
    strategy:
      matrix:
        pkg: ["mdi", "octicons", "fontawesome", "simple-icons"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - run: rustup update --no-self-update
      - name: Setup nushell
        uses: hustcer/setup-nu@3a97c8160c2bb5af321a03336e7addc28f94444e # v3.21
        with:
          version: ${{ vars.NU_SHELL_VERSION || '*' }}
      - name: Get package name
        id: translate
        shell: nu {0}
        run: |-
          let name = (
            open "${{ github.workspace }}/crates/${{ matrix.pkg }}/Cargo.toml"
            | get package
            | get name
          )
          $"pkg=($name)\n" | save --append $env.GITHUB_OUTPUT
      - name: Package crate ${{ steps.translate.outputs.pkg }} (dry run)
        env:
          PKG_NAME: ${{ steps.translate.outputs.pkg }}
        run: cargo publish -p $PKG_NAME --dry-run # zizmor: ignore[use-trusted-publishing]
